@model KRU.Models.FileHistory

@{
    ViewData["Title"] = "Details";
}
<div class="card box-shadow card-simple-form">

    <h1>Тафсилотлар</h1>

    <div>
        <h4>Асос</h4>
     
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>Асос номи</td>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                </tr>
                <tr>
                    <td>Файл</td>
                    <td>@Html.DisplayFor(model => model.FileUrl)</td>
                </tr>
                <tr>
                    <td>Тавсиф</td>
                    <td>@Html.DisplayFor(model => model.Description)</td>
                </tr>
                <tr>
                    <td>Бошланиш санаси</td>
                    <td>@Html.DisplayFor(model => model.FileStart)</td>
                </tr>
                <tr>
                    <td>Тугаш санаси</td>
                    <td>@Html.DisplayFor(model => model.FileEnd)</td>
                </tr>

                <tr>
                    <td>Тур номи</td>
                    <td>@Html.DisplayFor(model => model.Task_Type.NameType)</td>
                </tr>
                <tr>
                    <td>Якунланган</td>
                    <td>@Html.DisplayFor(model => model.FileFinished)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-button-container">
        <a class="btn btn-outline-primary mr-3 no-outline" asp-action="Index">
            <i class="fas fa-arrow-left mr-2" ></i>Ортга қайтиш
        </a>
        <a title="Edit" class="btn btn-outline-success kru-table-button" asp-action="Edit" asp-route-id="@Model.FileId">Таҳрирлаш</a>
    </div>
</div>