@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Аутентификатор дастурини созланг";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div>
    <p>Аутентификатор дастуридан фойдаланиш учун қуйидаги амалларни бажаринг:</p>
    <ol class="list">
        <li>
            <p>
                Google Authenticator - Икки факторли аутентификатор дастурини юклаб олинг

                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android </a>учун ва
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a> учун.
            </p>
        </li>
        <li>
            <p>QR кодини сканерланг ёки ушбу калитни <kbd>@Model.SharedKey</kbd>  иккита факторли аутентификатсия дастурига киритинг.</p>
            @*<div class="alert alert-info">Learn how to <a href="https://go.microsoft.com/fwlink/?Linkid=852423">enable QR code generation</a>.</div>*@
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Html.Raw(@Model.AuthenticatorUri)"></div>
        </li>
        <li>
            <p>
               QR кодини сканердан ўтказганингиздан ёки юқоридаги калитни киритганингиздан сўнг, икки факторли аутентификатсия дастурингиз сизга ноёб кодни тақдим этади. Кодни қуйидаги тасдиқлаш ойнасига киритинг.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form id="send-code" method="post">
                        <div class="form-group">
                            <label asp-for="Input.Code" class="control-label">Тасдиқ коди</label>
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Тасдиқланг</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/lib/qrcode.js"></script>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrCode"),
            {
                text: "@Html.Raw(Model.AuthenticatorUri)",
                width: 150,
                height: 150
            });
    </script>
}
