@model KRU.Models.Employee

@{
    ViewData["Title"] = "Details";
}
<div class="card box-shadow card-simple-form">
    <h1>Тафсилотлар</h1>

    <div>
        <h4>Ходим</h4>
     
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>E-mail</td>
                    <td>@Html.DisplayFor(model => model.User.UserName)</td>
                </tr>
                <tr>
                    <td>Ҳолат</td>
                    @if (Model.EmployeeState == "working")
                    {
                        <td>Ишда</td>
                    }
                    else
                    {
                        <td>Бошатилган</td>
                    }
                </tr>
                <tr>
                    <td>Раҳбар</td>
                    <td>@Html.DisplayFor(model => model.Manager.User.FullName)</td>
                </tr>
                <tr>
                    <td>Ходим</td>
                    <td>@Html.DisplayFor(model => model.User.FullName)</td>
                </tr>
                <tr>
                    <td>Телефон рақам</td>
                    <td>@Html.DisplayFor(model => model.User.PhoneNumber)</td>
                </tr>
                <tr>
                    <td>Лавозим</td>
                    <td>@Html.DisplayFor(model => model.User.Position)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-button-container">
        <a class="btn btn-outline-primary mr-3 no-outline" asp-action="Index">
            <i class="fas fa-arrow-left mr-2"></i>Ортга қайтиш
        </a>
        <a title="Edit" class="btn btn-outline-success kru-table-button" asp-action="Edit" asp-route-id="@Model.EmployeeId">Таҳрирлаш</a>
    </div>
</div>