@model KRU.Models.Tasks

@{
    ViewData["Title"] = "Delete";
}

<div class="card box-shadow card-simple-form">
    <h1>Ўчириш</h1>

    <h3>Ҳақиқатан ҳам ўчиришни хоҳлайсизми?</h3>
    <div>
        <h4>Топшириқ</h4>
      
        <div class="row">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>Масъул ходим</td>
                        <td>
                           
                                @Html.DisplayFor(modelItem => modelItem.Employee.User.FullName)
                             
                        </td>
                    </tr>
                    <tr>
                        <td>Бажарувчи ходим</td>
                        <td>
                            @foreach (var i in Model.Task_Emples)
                            {
                                @Html.DisplayFor(modelItem => i.Employee.User.FullName)
                                <br />
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Ёъқотилган маблағ</td>
                        <td>@Html.DisplayFor(model => model.SumLost)</td>
                    </tr>
                    <tr>
                        <td>Ортирилган маблағ</td>
                        <td>@Html.DisplayFor(model => model.SumGain)</td>
                    </tr>
                    <tr>
                        <td>Изоҳ</td>
                        <td>@Html.DisplayFor(model => model.Comment)</td>
                    </tr>
                    <tr>
                        <td>Якунланган</td>
                        <td>
                            @Html.DisplayFor(model => model.Finished)
                            @if (Model.File == "" || Model.File == null)
                            {

                            }
                            else
                            {
                                <a asp-area="Manager" asp-controller="FileHistories" asp-action="Download_ConfigEnd"
                                   asp-route-TaskId="@Model.TaskId">
                                    @Html.DisplayFor(model => model.File)
                                </a>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Бошланиш санаси</td>
                        <td>@Html.DisplayFor(model => model.TaskStarted)</td>
                    </tr>
                    <tr>
                        <td>Тугаш санаси</td>
                        <td>@Html.DisplayFor(model => model.TaskEnd)</td>
                    </tr>
                    <tr>
                        <td>Департамент</td>
                        <td>@Html.DisplayFor(model => model.Department.DepartmentName)</td>
                    </tr>
                    <tr>
                        <td>Вазифа тури</td>
                        <td>@Html.DisplayFor(model => model.Task_Type.NameType)</td>
                    </tr>
                </tbody>
            </table>

            <table class="mt-5 table bg-color-1 table-striped table-hover">
                <thead>
                    <tr>
                        <th colspan="3"><h5 class="m-0" align="center">Ҳисоботлар:</h5></th>
                    </tr>
                    <tr>
                        <th>
                           Сана
                        </th>
                        <th>
                            Ходим ҳолати
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                @if (Model.Reports == null)
                {
                    <tr>
                        Ҳеч нарса топилмади
                    </tr>
                }
                else
                {
                @foreach (var r in Model.Reports)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => r.ReportDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => r.State)
                        </td>
                    </tr>
                }}
                </tbody>
            </table>
            <table class="mt-5 table table-hover table-success table-striped">
                <thead>
                    <tr>
                        <th colspan="4"><h5 class="m-0" align="center">Текширувлар ҳисоботи:</h5></th>
                    </tr>
                    <tr>
                        <th>
                            Ходим ҳолати
                        </th>
                        <th>
                            Бошланиш санаси
                        </th>
                        <th>
                            Тугаш санаси
                        </th>
                       
                    </tr>
                </thead>
                <tbody>
                @if (Model.FinanceReports == null)
                {
                    <tr>
                        Ҳеч нарса топилмади
                    </tr>
                }
                else
                {
                @foreach (var f in Model.FinanceReports)
                {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => f.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => f.StartDate)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => f.EndDate)

                    </td>
                </tr>

                }}
                </tbody>
            </table>
        </div>
        <form asp-action="Delete">
            <div class="form-button-container">
                <a class="btn btn-outline-primary mr-3 no-outline" asp-action="Index">
                    <i class="fas fa-arrow-left mr-2" ></i>Ортга қайтиш
                </a>
                <input type="hidden" asp-for="TaskId" />
                @if (Model.FinCount == 0 && Model.RepCount == 0)
                {
                <input type="submit" value="Ўчириш" class="btn btn-danger"/> }
            </div>
        </form>
    </div>
</div>