@model IEnumerable<KRU.Models.Category1>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="buttons-container">
    <a class="btn btn-default" asp-action="Create">
        <i class="fas fa-plus mr-2"></i>Create New
    </a>
</div>
<div class="card">
    <div class="card-body">
        <table id="example1" class="table table-hover">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name_C1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Department)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name_C1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                </td>
                <td class="table-button-container">
                    <a data-bs-toggle="tooltip" title="Edit" class="btn btn-outline-success kru-table-button" asp-action="Edit" asp-route-id="@item.Category1Id"><i class="far fa-edit"></i></a>
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>