@model IEnumerable<KRU.Models.Plan>

@{
    ViewData["Title"] = "Index";
}
<div id="PlaceHolderHere"></div>
<div class="callout callout-info">
    <div class="flex-container align-items-center">
        <i class="fas fa-info-circle"></i><h5>План:</h5>
    </div>
    Бу ердан сиз 'Режа' ҳисоботларига киришингиз, ўчиришингиз ва таҳрирлашингиз мумкин.
</div>

<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("KunlikExcel", "Plans", new { area = "Manager" }, FormMethod.Post))
        {
            <div class="kru-date-range flex-container flex-column">
                <div class="col-12 date-input">
                    <input id="start" name="start" type="date" class="form-control" />
                    <input id="end" type="date" name="end" class="form-control" />
                </div>
                <div class="col-12 button-input">
                    <input type="submit" name="Export" value="Юклаб олиш" id="btnExport" onclick="downloadExcel()" class="btn btn-success" />
                </div>
            </div>
        }
        <table id="example1" class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Адрес
                    </th>
                    <th>
                        Объект
                    </th>

                    <th>
                        Вазифа
                    </th>
                    <th>
                        Бошланиш санаси
                    </th>
                    <th>
                        Тугаш санаси
                    </th>
                    <th>
                        Тавсиф
                    </th>

                    <th>
                        Ҳолат
                    </th>

                    @*<th>
                        @Html.DisplayNameFor(model => model.Manager)
                    </th>*@
                    <th>
                        Ходим
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var className = item.HaveSeen ? "" : "table-warning";

                    <tr class="@className">
                        <td>
                            @Html.DisplayFor(modelItem => item.Address.Building)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Objects.ObjectName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Tasks.TaskName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlanStart)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlanEnd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlanDescription)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.State)
                        </td>

                        @*<td>
                            @Html.DisplayFor(modelItem => item.Manager.User.FullName)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.User.FullName)
                        </td>
                        <td class="table-button-container">
                            <a data-bs-toggle="tooltip" title="Таҳрирлаш" class="btn btn-outline-success kru-table-button" asp-action="Edit" asp-route-id="@item.PlanId"><i class="far fa-edit"></i></a>
                            <a data-bs-toggle="tooltip" title="Тафсилотлар" data-toggle="ajax-modal" data-target="#addEmployee" class="addEmployeeButton btn btn-outline-info kru-table-button" data-url="@Url.Action("Details", "Plans", new { id = item.PlanId }, null)"><i class="fas fa-info"></i></a>
                            <a data-bs-toggle="tooltip" title="Ўчириш" class="btn btn-outline-danger kru-table-button" asp-action="Delete" asp-route-id="@item.PlanId"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
