@model IEnumerable<KRU.Models.Task_Type>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="buttons-container">
    <a class="btn btn-default" asp-action="Create"><i class="fas fa-plus mr-2"></i>Create New</a>
</div>

<div class="card">
    <div class="card-body">
        <table id="example1" class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NameType)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameType)
                    </td>
                    <td class="table-button-container">
                        <a data-bs-toggle="tooltip" title="Edit" class="btn btn-outline-success kru-table-button" asp-action="Edit" asp-route-id="@item.TaskTypeID"><i class="far fa-edit"></i></a>
                        <a data-bs-toggle="tooltip" title="Details" class="btn btn-outline-info kru-table-button" asp-action="Details" asp-route-id="@item.TaskTypeID"><i class="fas fa-info"></i></a>
                        <a data-bs-toggle="tooltip" title="Delete" class="btn btn-outline-danger kru-table-button" asp-action="Delete" asp-route-id="@item.TaskTypeID"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>
