@model KRU.Models.Report

@{
    ViewData["Title"] = "Details";
}
<div class="card box-shadow card-simple-form">
    <h1>Тафсилотлар</h1>

    <div>
        <h4>Кундалик ҳисобот</h4>
       
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>Адрес</td>
                    <td>@Html.DisplayFor(model => model.Address.Building)</td>
                </tr>
                <tr>
                    <td>Объект</td>
                    <td>@Html.DisplayFor(model => model.Objects.ObjectName)</td>
                </tr>
                <tr>
                    <td>Задача</td>
                    <td>@Html.DisplayFor(model => model.Tasks.TaskName)</td>
                </tr>
                <tr>
                    <td>Описание</td>
                    <td>@Html.DisplayFor(model => model.ReportDescription)</td>
                </tr>
                <tr>
                    <td>Статус</td>
                    <td>@Html.DisplayFor(model => model.State)</td>
                </tr>
                <tr>
                    <td>Дата</td>
                    <td>@Html.DisplayFor(model => model.ReportDate)</td>
                </tr>
                <tr>
                    <td>Коммент</td>
                    <td>@Html.DisplayFor(model => model.ReportComment)</td>
                </tr>
                <tr>
                    <td>Балл</td>
                    <td>@Html.DisplayFor(model => model.ReportScore)</td>
                </tr>
                <tr>
                    <td>Менеджер</td>
                    <td> @Html.DisplayFor(model => model.Manager.User.FullName)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-button-container">
        <a class="btn btn-outline-primary mr-3 no-outline" asp-action="Index">
            <i class="fas fa-arrow-left mr-2"></i>Ортга қайтиш
        </a>
        <a title="Edit" class="btn btn-outline-success kru-table-button" asp-action="Edit" asp-route-id="@Model.ReportId">Таҳрирлаш</a>
    </div>
</div>