@model KRU.Models.Plan

@{
    ViewData["Title"] = "Details";
}
<div class="card box-shadow card-simple-form">
    <h1>Тафсилотлар</h1>
    <h4>План</h4>

    <table class="table table-hover">
        <tbody>
            <tr>
                <td> Бошланиш санаси</td>
                <td>@Html.DisplayFor(model => model.PlanStart)</td>
            </tr>
            <tr>
                <td>Тугаш санаси</td>
                <td>@Html.DisplayFor(model => model.PlanEnd)</td>
            </tr>
            <tr>
                <td>Тавсиф</td>
                <td>@Html.DisplayFor(model => model.PlanDescription)</td>
            </tr>
            <tr>
                <td>Адрес</td>
                <td>@Html.DisplayFor(model => model.Address.Building)</td>
            </tr>
            <tr>
                <td>Объект</td>
                <td>@Html.DisplayFor(model => model.Objects.ObjectName)</td>
            </tr>
            <tr>
                <td>Вазифа</td>
                <td>@Html.DisplayFor(model => model.Tasks.TaskName)</td>
            </tr>

            <tr>
                <td>Менеджер</td>
                <td>@Html.DisplayFor(model => model.Manager.User.FullName)</td>
            </tr>
            <tr>
                <td>Ходим</td>
                <td>@Html.DisplayFor(model => model.Employee.User.FullName)</td>
            </tr>
        </tbody>
    </table>
    <div class="form-button-container">
        <a class="btn btn-outline-primary mr-3 no-outline" asp-action="Index">
            <i class="fas fa-arrow-left mr-2"></i>Ортга қайтиш
        </a>
        <a title="Edit" class="btn btn-outline-success kru-table-button" asp-action="Edit" asp-route-id="@Model.PlanId">Таҳрирлаш</a>
    </div>
</div>